  body {
      background-color: grey;
      font-family: system-ui;

      h1 {
          color: green;
      }


  }


  #subtitulo {
      color: red;
      font-weight: bold;
  }

  .aviso {
      background: #fff3cd;
      color: #664d03;
      padding: 8px;
      border: 1px solid #ffeeba;
      border-radius: 4px;
  }